<div class="wrapper">
  <div class="authentication-method">
    <div class="authentication-method-form">
      <form action="/authentication-method" method="get">
        <p class="input-title">Nhập email:</p>
        <input type="email" class="input">
        <p class="input-title">Nhập số điện thoại:</p>
        <input type="tel" class="input">

        <div class="butt">
          
          <div class="go-back">
            <form action="/forgot-password" method="get">
              <button class="button">Trở lại</button>
            </form>
          </div>

          <div class="countinue">
            <form action="/authentication-code" method="get">
              <button class="button">Tiếp tục</button>
            </form>
          </div>

        </div>

      </form>
    </div>
  </div>
</div>
