<div class="wrapper">
  <div class="login-wrapper">
    <div class="login-form">
      <form action="/sign" method="get">
        <p class="title">Đăng nhập</p>
        <p class="input-title">Tài khoản</p>
        <input class="input" type="text" name="" id="">
        <p class="input-title">Mật khẩu</p>
        <input class="input" type="password" name="" id="">
        <div class="remember-me">
          <input type="checkbox" name="remember-me" id="">
          <p>Nhớ mật khẩu</p>
        </div>
        <div class="login-button-wrapper">
          <button>Đăng nhập</button>
        </div>

        <div class="extension">
          <div class="new-account">
            <p>Chưa có tài khoản?<span><a href="/signup">Đăng ký</a></span></p>
          </div>
          <div class="forgot-password"><a href="/forgot-password">Quên mật khẩu</a></div>
        </div>
      </form>
    </div>
    <div class="image-container">
    </div>
  </div>
</div>