<div class="anonymous-article-container">
  <div class="main-content">
    <div class="tag-container">
      <div class="tag">
        <span>TÂM SỰ</span>
      </div>
    </div>
    <div class="title-container">
      <span class="title">Người trong muôn nghề</span>
    </div>
    <div class="short-content">
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni cum alias cupiditate nulla quis qui vel
        sunt,
        debitis quam ipsa officia explicabo, culpa minima non deserunt, exercitationem numquam reprehenderit
        quod?
      </p>
    </div>
    <div class="extension-function">
      <div class="extension-container">
        <div class="comment">
          <span class="comment-icon">📝</span>
          <span class="comment-amount">1000</span>
        </div>
      </div>
    </div>
  </div>
</div>
