@import "../../../assets/styles/persik.scss";

// anonymouse article
$persik-tag-font-family: "Noto Sans", sans-serif;
$persik-tag-font-size: 12px;

$persik-title-font-family: "Montserrat";
$persik-title-font-size: 17px;

$persik-short-content-font-family: "Noto Sans", sans-serif;
$persik-short-content-font-size: 13px;

$persik-public-date-font-family: "Noto Sans", sans-serif;
$persik-public-date-font-size: 8px;

$persik-vote-font-family: "Noto Sans", sans-serif;
$persik-active-vote-color: #2ecc71;

$persik-extension-container-font-family: "Noto Sans", sans-serif;

.anonymous-article-container {
  display: flex;
  background-color: white;
  width: 600px;
  padding: 20px;
  border-radius: 4px;
  flex-flow: column;
  margin-bottom: 5px;
  &:hover {
    background-color: #fcfcfc;
  }

  .main-content {
    .tag-container {
      color: $persik-second-font-color;
      .tag {
        font-family: $persik-tag-font-family;
        font-size: $persik-tag-font-size;
      }
      .separator {
        margin-left: 5px;
        margin-right: 5px;
      }
    }
    .title-container {
      margin-bottom: 10px;
      .title {
        font-family: $persik-title-font-family;
        font-size: $persik-title-font-size;
        font-weight: bolder;
      }
    }
    .short-content {
      margin-bottom: 10px;
      p {
        font-family: $persik-short-content-font-family;
        font-size: $persik-short-content-font-size;
        .change-show-status {
          color: gray;
          font-weight: bolder;
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            text-decoration: underline;
            text-decoration-thickness: 2px;
          }
        }
      }
    }
    .extension-function {
      display: flex;
      .extension-container {
        display: flex;
        align-items: flex-end;
        font-family: $persik-extension-container-font-family;
        font-size: 15px;
        justify-content: space-around;
        .comment {
          font-size: 13px;
          background-color: white;
          padding: 5px 10px;
          border-radius: 15px;
          transition: all 0.5;
          box-sizing: border-box;
          cursor: pointer;
          user-select: none;
          &:hover {
            background-color: #e7e7e9;
          }
          &:active {
            background-color: #e7e7e9e5;
          }
          .comment-icon {
          }
          .comment-amount {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
