<div class="anonymous-article-container">
  <div class="main-content">
    <div class="tag-container">
      <div class="tag">
        <span>{{anonymousArticle.tag | uppercase}}</span>
        <span class="separator">|</span>
        <span class="public-date">{{anonymousArticle.publicDate}}</span>
      </div>
    </div>
    <div class="title-container">
      <span class="title">{{anonymousArticle.title}}</span>
    </div>
    <div class="short-content">
      <p>{{anonymousArticle.content}}</p>
    </div>
    <div class="extension-function">
      <div class="extension-container">
        <div class="cute-button">
          <span class="cute-amount">{{anonymousArticle.commentAmount}}</span>
          <span class="cute-icon">📝</span>
        </div>
      </div>
    </div>
  </div>
</div>

