<div class="anonymous-comment-wrapper">
  <div class="date">
    <span>{{comment.publicDate}}</span>
    <span>#{{comment.id}}</span>
  </div>
  <div class="comment">
    <span>{{comment.content}}</span>
  </div>
  <div class="extensions">
    <div class="do-reply" (click)="replyComment()">
      <div class="cute-button">
        <div class="cute-amount">Trả lời</div>
      </div>
    </div>
    <div class="upvote">
      <div class="cute-button">
        <div class="cute-amount">{{comment.upvote}}</div>
        <div class="cute-icon">👍</div>
      </div>
    </div>
    <div class="downvote">
      <div class="cute-button">
        <div class="cute-amount">{{comment.downvote}}</div>
        <div class="cute-icon">👎</div>
      </div>
    </div>
    <div class="reply">
      <div class="cute-button">
        <div class="cute-amount">{{comment.replyAmount}}</div>
        <div class="cute-icon">💬</div>
      </div>
    </div>
  </div>
</div>
