@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

$persik-navigation-font-family: "Open Sans", sans-serif;
$persik-navigation-hover-background-color: #f5f6f7;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$persik-tag-font-family: "Noto Sans", sans-serif;
$persik-tag-font-size: 16px;

$persik-title-font-family: "Montserrat";
$persik-title-font-size: 30px;

$persik-short-content-font-family: "Noto Sans", sans-serif;
$persik-short-content-font-size: 16px;

$persik-writer-name-font-family: "Noto Sans", sans-serif;
$persik-writer-name-font-size: 12px;

$persik-public-date-font-family: "Noto Sans", sans-serif;
$persik-public-date-font-size: 10px;

$persik-vote-font-family: "Noto Sans", sans-serif;
$persik-unactive-vote-color: #ecf0f1;
$persik-active-vote-color: #2ecc71;

$persik-extension-container-font-family: "Noto Sans", sans-serif;
