<div class="article-container">
  <div class="image-container">
    <img src="../../../assets/images/241095135_1827315980774811_8230954543138555389_n.jpg" alt="">
  </div>
  <div class="article-infomation">
    <div class="tag-container">
      <span>WATCHER</span>
    </div>
    <div class="title-container">
      <span>Con đậu nằm trên máy tính</span>
    </div>
    <div class="short-content-container">
      <span>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim, temporibus facere. Nulla aut nostrum eius sunt
        odit est perspiciatis incidunt quae eligendi temporibus sapiente facilis odio sequi nihil, error ullam. lorem
      </span>
    </div>
    <div class="extension-container">
      <div class="vote">
        <div class="upvote">▲</div>
        <div class="upvote-value"></div>
      </div>
      <div class="view">
        <span class="view-icon">👀</span>
        <span class="view-amount">400</span>
      </div>
      <div class="comment">
        <span class="comment-icon">📝</span>
        <span class="comment-amount">1000</span>
      </div>
    </div>
  </div>
</div>