<div class=" user-container">
    <div class="user-content">
        <div class="user-contant">
            <div class="avatar">
                <div class="image-container">
                  <a [href]="userUrl">
                    <img src="../../../assets/images/julian-wan-WNoLnJo7tS8-unsplash.jpg" alt="">
                  </a>
                </div>
                <div class="writer-info">
                  <div class="name">tri123</div>
                </div>
            </div>
        </div>
    </div>
    <div class="user-content">
        <div class="user-contant">
            <div class="avatar">
                <div class="image-container">
                  <a [href]="userUrl">
                    <img src="../../../assets/images/julian-wan-WNoLnJo7tS8-unsplash.jpg" alt="">
                  </a>
                </div>
                <div class="writer-info">
                  <div class="name">minhtri </div>
                </div>
            </div>
        </div>
    </div>
</div>