<div class="poll-page-container">
  <div class="poll-content">
    <div class="poll-article">
      <div class="content">
        <div
          class="poll-article-container"
          *ngIf="pollService.pollsData.length != 0"
        >
          <div class="avatar">
            <div class="image-avatar">
              <a [href]="">
                <img src="../../../assets/images/megumin.jpg" alt="" />
              </a>
            </div>
            <div class="writer-info">
              <span class="username">{{pollService.pollsData[pollIndex].username}}</span>
              <span class="public-date">{{pollService.pollsData[pollIndex].publicDate}}</span>
            </div>
          </div>
          <div class="title-container">
            <span class="title">{{pollService.pollsData[pollIndex].title}}</span>
          </div>
          <div class="content" [innerHtml]="pollService.pollsData[pollIndex].content"></div>
        </div>
      </div>
    </div>
    <div class="wrapper-poll-vote">
      <div class="poll-vote">
        <div class="vote-content" *ngFor="let parentPollId of pollService.pollsData[pollIndex].parentPollId">
          <p class="title">{{parentPollId.title}}</p>
          <div class="poll-vote">
            <div class="point-vote">
              <div class="point"></div>
            </div>
            <div class="cute-button">
              <p class="value-vote">20</p>
              <span class="icon-vote">➕</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
