<div class="navigation-container">
  <nav>
    <ul class="navigation-item-container">
      <li class="navigation-item">
        <div class="icon">
          <span>🔥</span>
        </div>
        <div class="navigation">
          <a href="#">Hot</a>
        </div>
      </li>
      <li class="navigation-item">
        <div class="icon">
          <span>🕔</span>
        </div>
        <div class="navigation">
          <a href="#">Latest</a>
        </div>
      </li>
      <li class="navigation-item">
        <div class="icon">
          <span>💥</span>
        </div>
        <div class="navigation">
          <a href="#">Drama</a>
        </div>
      </li>
    </ul>
  </nav>
</div>