@import '/src/assets/styles/persik.scss';

.navigation-container {
  user-select: none;
  display: flex;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  nav{
    display: block;
    width: 100%;
  }
 .navigation-item {
    display: flex;
    align-items: center;
    color: gray;
    padding: 10px;
    width: 100%;
    &:hover {
      background-color: #f4f4f7;
    }
    .icon {
      width: 60px;
      span {
        font-size: 30px;
      }
    }
    .navigation {
      a {
        all: inherit;
        font-family: "Noto Sans", sans-serif;
      }
    }
  }
}