@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import "../../../assets/styles/persik.scss";
$persik-tag-font-family: "Noto Sans", sans-serif;
$persik-tag-font-size: 17px;
.poll-vote-containt {
  $persik-tag-font-family: "Noto Sans", sans-serif;
  $persik-tag-font-size: 17px;

  .vote-content{
    .title{
      font-family: $persik-tag-font-family;
      font-size: $persik-tag-font-size;
    }
    .poll-vote{
      display: flex;
      flex-direction: row;
      progress{
        width: 80%;
        height: 45px;
      }
      .cute-button{
        gap: 10px;
        margin: 5px;
        border: inherit;
      }
    }



  }
  }
