@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@import "../../../assets/styles/persik.scss";
$persik-tag-font-family: "Noto Sans", sans-serif;
$persik-tag-font-size: 17px;

$persik-title-font-family: "Montserrat";
$persik-title-font-size: 17px;

.poll-vote-containt {
  $persik-tag-font-family: "Noto Sans", sans-serif;
  $persik-tag-font-size: 17px;


}
