<div class="poll-vote-containt">

  <div class="vote-content">
    <p class="title">win 10</p>
    <div class="poll-vote">
    <progress value="20" max="100"></progress>
    <div class="cute-button">
      <p class="value-vote">20</p>
      <span class="icon-vote">⚪</span>
    </div>
  </div>
  <div class="vote-content">
    <p class="title">win 11</p>
    <div class="poll-vote">
    <progress value="80" max="100"></progress>
    <div class="cute-button">
      <p class="value-vote">80</p>
      <span class="icon-vote">⚪</span>
    </div>
  </div>
