<div class="poll-vote-containt">
  <div class="vote-content" *ngFor="let VotePollOption of votePollOptions">
    <p class="title">{{ VotePollOption.content }}</p>
    <div class="poll-vote">
      <div class="point-vote">
        <div class="point" [style.width.%]="'{{ VotePollOption.point }}'"></div>
      </div>
      <div class="cute-button" (click)="OnClickVote(VotePollOption)">
        <p class="value-vote">{{ VotePollOption.point }}</p>
        <span class="icon-vote">➕</span>
      </div>
    </div>
  </div>
</div>
