@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

body {
    background-color: #f4f4f7;
    height: 100%;
}

header {
    display: flex;
    margin-bottom: 40px;
}