<header>
  <app-navbar></app-navbar>
</header>
<section>
  <router-outlet></router-outlet>
</section>
<footer class="flex flex-row bg-white px-44 py-10 gap-20">
  <div class="flex-shrink w-80">
    <div class="font-sans font-bold text-2xl">🍑PERSIK</div>
    <div class="font-sans text-sm text-gray-400">
      <span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt eos perferendis
        eveniet perspiciatis corporis asperiores a non rem consequuntur id exercitationem saepe facilis nemo
        placeat, ex nesciunt nihil doloribus odio.</span>
    </div>
  </div>
  <div class="flex flex-row space-x-48">
    <div class="function lg:col-span-1">
      <div class="text-xl">
        <span>Functions</span>
      </div>
      <div class="function-nav">
        <ul>
          <li><a><span>🏠</span>Home</a></li>
          <li><a><span>📃</span>Blogs</a></li>
          <li><a><span>🎭</span>Anonymouses</a></li>
          <li><a><span>📊</span>Polls</a></li>
        </ul>
      </div>
    </div>
    <div class="function lg:col-span-1">
      <div class=" text-xl">
        <span>Contacts</span>
      </div>
      <div class="function-nav">
        <ul>
          <li><a><span>🔵</span>Facebook</a></li>
          <li><a><span>🟧</span>Instagram</a></li>
          <li><a><span>🔺</span>Twitter</a></li>
          <li><a><span>❌</span>Lotus</a></li>
        </ul>
      </div>
    </div>
    <div class="function lg:col-span-1">
      <div class="text-xl">
        <span>Donates</span>
      </div>
      <div class="function-nav">
        <ul>
          <li><a><span>🤑</span>Momo</a></li>
          <li><a><span>💸</span>Agribank</a></li>
          <li><a><span>💳</span>ViettelPay</a></li>
          <li><a><span>💵</span>Paypal</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<ngx-ui-loader></ngx-ui-loader>