<nav class="bg-white-500 flex items-center phone:p-4 phone:w-screen laptop:py-2 laptop:px-36">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <span>🍑</span>
    <span class="font-semibold text-black text-xl tracking-tight">Persik</span>
  </div>
  <div class="phone:hidden laptop:inline">
    <nav class="flex flex-row text-sm">
      <a href="/" class="inline-block text-teal-20 mr-4">
        <div class="flex px-6 py-4 content-center items-center lg:inline-block hover:bg-gray-100 rounded-lg">Home</div>
      </a>
      <a href="/anonymous" class="inline-block text-teal-20 mr-4">
        <div class="flex px-6 py-4 content-center items-center lg:inline-block hover:bg-gray-100 rounded-lg">Anonymous
        </div>
      </a>
      <a href="/poll" class="inline-block text-teal-200 mr-4">
        <div class="flex px-6 py-4 content-center items-center lg:inline-block hover:bg-gray-100 rounded-lg">Polls</div>
      </a>
      <a href="/tag" class="inline-block text-teal-200 mr-4">
        <div class="flex px-6 py-4 content-center items-center lg:inline-block hover:bg-gray-100 rounded-lg">Tags</div>
      </a>
    </nav>
  </div>
  <div class="flex-grow"></div>
  <div class="account space-x-1">
    <div class="shadow rounded-full flex flex-row pl-4">
      <input class="rounded-full border border-transparent focus:outline-none" placeholder="Search...">
      <button class="rounded-full h-10 w-10 hover:bg-gray-200">🔍</button>
    </div>
    <div class="phone:hidden laptop:inline">
      <button>📭</button>
    </div>
    <div class="notification-container relative">
      <button (click)="activeNotification()" class="phone:hidden laptop:inline">🔔</button>
      <div class="notification" [class]="notificationActive">
        <div class="notification-title">
          <span>Notifications</span>
        </div>
        <div class="notification-container">
          <app-notification-item *ngFor="let notification of notifications" [avatarUrl]="notification.avatarUrl"
            [notificationContent]="notification.notificationContent" [publicDate]="notification.publicDate">
          </app-notification-item>
        </div>
      </div>
    </div>
    <div class="avatar">
      <div class="relative w-10 h-10">
        <img class="rounded-full border border-gray-100 shadow-sm"
          src="../../../assets/images/julian-wan-WNoLnJo7tS8-unsplash.jpg" alt="">
      </div>
    </div>
    <div class="phone:hidden laptop:inline-block laptop:px-6 laptop:py-4 laptop:rounded-lg laptop:hover:bg-gray-100 write relative">
      <span>Write</span>
      <ul class="write-option bg-white absolute p-2">
        <a href="/write-post">
          <li class="p-2 block hover:bg-gray-100"><span>📃</span> A Post</li>
        </a>
        <a href="/write-poll">
          <li class="p-2 block hover:bg-gray-100"><span>📊</span> A Poll</li>
        </a>
      </ul>
    </div>
  </div>
</nav>