<div>
  <nav>
    <div class="navigation">
      <ul class="top-level-menu">
        <a href="/home">
          <li>Home</li>
        </a>
        <li>
          <span>Tags</span>
          <ul class="second-level-menu">
            <li>#giadinh</li>
            <li>#tinhyeu</li>
            <li>#timnguoi</li>
            <li>#hoidap</li>
          </ul>
        </li>
        <a href="/anonymous">
          <li>Anonymous</li>
        </a>
        <a href="/poll">
          <li>Poll</li>
        </a>
      </ul>
    </div>
    <div class="account">
      <div class="search-container">
        <input type="search" name="" id="">
        <button>🔍</button>
      </div>
      <div class="mail">
        <button>📭</button>
      </div>
      <div class="notification-container">
        <button (click)="activeNotification()">🔔</button>
        <div class="notification" [class]="notificationActive">
          <div class="notification-title">
            <span>Notifications</span>
          </div>
          <div class="notification-container">
            <app-notification-item *ngFor="let notification of notifications" [avatarUrl]="notification.avatarUrl"
              [notificationContent]="notification.notificationContent" [publicDate]="notification.publicDate">
            </app-notification-item>
          </div>
        </div>
      </div>
      <div class="avatar">
        <div class="image-container">
          <img src="../../../assets/images/julian-wan-WNoLnJo7tS8-unsplash.jpg" alt="">
        </div>
      </div>
      <div class="write">
        <span>Write</span>
        <ul class="write-option">
          <a href="/write-post"><li><span>📃</span> A Post</li></a>
          <a href="/write-post"><li><span>📊</span> A Poll</li></a>
        </ul>
      </div>
    </div>
  </nav>
</div>