<div class="poll-page-container">
  <div class="navigation-bar">
    <app-anonymous-navigation-bar></app-anonymous-navigation-bar>
  </div>
  <div class="poll-content">
    <div class="poll-article" >
      <app-poll-article ></app-poll-article>
      <app-poll-article ></app-poll-article>
      <app-poll-article ></app-poll-article>
      <app-poll-article ></app-poll-article>
      <app-poll-article ></app-poll-article>
    </div>


    <div class="wrapper-poll-vote">
      <div class="poll-vote">
      <app-poll-article></app-poll-article>
      <app-poll-vote></app-poll-vote>
    </div>
    </div>
  </div>
</div>
