<div class="container">
  <div class="content-wrapper">
      <div [routerLink]="'/view/' + i" class="card"  *ngFor="let poll of pollService.pollsData;let i = index">
        <div class="avatar">
          <div class="image-avatar">
            <a [href]="">
              <img src="../../../assets/images/megumin.jpg" alt="">
            </a>
          </div>
          <div class="writer-info">
            <span class="username">{{poll.username}}</span>
            <span class="public-date">{{poll.publicDate}}</span>
          </div>
          <div class="title">{{poll.title}}</div>
        </div>
      </div>
  </div>
</div>
