<div class="wrapper">
  <div class="forgot-password">
    <div class="forgot-password-form">
      
      <form action="/forgot-password" method="get">
        <p class="title">Chọn phương thức xác thực:</p>
        <input type="radio" id="email" name="authentication-method" value="email">
        <label for="email">Email</label><br>
        <input type="radio" id="tel" name="authentication-method" value="tel">
        <label for="tel">Số điện thoại</label><br>

        <div class="countinue">
          <form action="/input-authentication-method" method="get">
            <button class="button">Tiếp tục</button>
          </form>
        </div>

        <div class="go-back">
          <form action="/login" method="get">
            <button class="button">Trở lại</button>
          </form>
        </div>

      </form>
    </div>
  </div>
</div>
