$persik-button-color: #f8c3bd;
$persik-background: #fbe7e8;
$persik-unhover-text-button-color: #e84393;
$persik-hover-text-button-color: #5a4856;
$persik-textbox-border-color: #e84393;

.wrapper {
  background-color: $persik-background;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-family: 'Montserrat', sans-serif;
}

.forgot-password{
  height: 220px;
  width: 500px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  .forgot-password-formm{
    width: 50%;
    .title {
      font-weight: bold;
      font-size: 40px;
      text-align: center;
      margin-bottom: 20px;
    }
    .form {
      padding: 40px 40px;
    }
    .radio-button{
      align-items: 20px;
    }
  }
  .butt{
    display: flex;
    .button{
      display: flex;
      justify-content: center;
      margin:0 auto;
      all: unset;
      width: 150px;
      height:40px;
      margin-top: 15px;
      border: 1px solid $persik-button-color;
      outline: none;
      text-align: center;
      transition: all .3s;
      color: $persik-unhover-text-button-color;
    }
    button:hover {
      background-color: $persik-button-color;
      color: $persik-hover-text-button-color;
    }
  }
}
