<div class="py-9 flex flex-col h-auto gap-2 bg-gray-100">
  <div class="flex flex-col gap-2 sm:px-1 lg:px-44 ">
    <div class="px-2 border-l-4 border-pink-500">
      <span class="font-bold text-3xl">Persest</span>
    </div>
    <div class="flex laptop:flex-row phone:flex-col gap-2 ">
      <div>
        <app-large-article class=""></app-large-article>
      </div>
      <div class="flex flex-col gap-2">
        <app-article-horizontal></app-article-horizontal>
        <app-article-horizontal></app-article-horizontal>
        <app-article-horizontal></app-article-horizontal>
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-2 sm:px-1 lg:px-44 ">
    <div class="px-2 border-l-4 border-pink-500">
      <span class="font-bold text-3xl">Permonth</span>
    </div>
    <div class="flex flex-row gap-2 ">

    </div>
  </div>
</div>