@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$persik-tag-font-family: "Noto Sans", sans-serif;
$persik-tag-font-size: 16px;

$persik-title-font-family: "Montserrat";
$persik-title-font-size: 30px;

$persik-short-content-font-family: "Noto Sans", sans-serif;
$persik-short-content-font-size: 16px;

$persik-writer-name-font-family: "Noto Sans", sans-serif;
$persik-writer-name-font-size: 12px;

$persik-public-date-font-family: "Noto Sans", sans-serif;
$persik-public-date-font-size: 10px;

$persik-vote-font-family: "Noto Sans", sans-serif;
$persik-unactive-vote-color: #ecf0f1;
$persik-active-vote-color: #2ecc71;

$persik-extension-container-font-family: "Noto Sans", sans-serif;

.large-article-container {
  display: flex;
  background-color: white;
  width: 400px;
  padding: 10px;
  border-radius: 4px;
  flex-flow: column;

  .thumnail-image {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    img {
      border-radius: 4px;
      max-width: 100%;
      max-height: 100%;
      display: block;
    }
  }

  .main-content {
    .tag-container {
      .tag {
        font-family: $persik-tag-font-family;
        font-size: $persik-tag-font-size;
      }
    }
    .title-container {
      .title {
        font-family: $persik-title-font-family;
        font-size: $persik-title-font-size;
      }
    }
    .short-content {
      p {
        font-family: $persik-short-content-font-family;
        font-size: $persik-short-content-font-size;
      }
    }
    .extension-function {
      display: flex;
      .avatar {
        display: flex;
        flex-grow: 2;
        .image-container {
          margin-right: 10px;
          img {
            -webkit-user-select: none; /* Safari */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+/Edge */
            user-select: none; /* Standard */
            cursor: pointer;
            display: block;
            height: 60px;
            width: 60px;
            border-radius: 50%;
          }
        }
        .writer-info {
          display: flex;
          flex-direction: column;
          justify-content: center;

          .name {
            cursor: pointer;
            font-family: $persik-writer-name-font-family;
            font-size: 16px;
            margin-bottom: 4px;
          }
          .public-date {
            color: #b5b5b5;
            font-family: "Roboto";
            font-size: 12px;
          }
        }
      }
      .extension-container {
        display: flex;
        align-items: flex-end;
        font-family: $persik-extension-container-font-family;
        font-size: 15px;
        justify-content: space-around;
        gap: 10px;
        .vote {
          display: flex;
          cursor: pointer;
          -webkit-user-select: none; /* Safari */
          -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* IE10+/Edge */
          user-select: none; /* Standard */
          .upvote {
            margin-right: 5px;
            color: $persik-unactive-vote-color;
          }
          .active {
            color: $persik-active-vote-color;
          }
        }
        .view {
          .view-icon {
            margin-right: 5px;
          }
        }
        .comment {
          .comment-icon {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
