<div class="wrapper">
  <div class="change-password">
    <div class="change-password-form">
      <form action="/change-password" method="get">
        <p class="input-title">Nhập mã xác nhận:</p>
        <input type="number" class="input">
        <p class="input-title">Nhập mật khẩu:</p>
        <input type="password" class="input">
        <p class="input-title">Nhập lại mật khẩu:</p>
        <input type="password" class="input">

        <div class="butt">

          <div class="go-back">
            <form action="/authentication-method" method="get">
              <button class="button">Trở lại</button>
            </form>
          </div>

          <div class="countinue">
            <form action="/authentication-code" method="get">
              <button class="button">Xác nhận</button>
            </form>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
