<div class="anonymous-page-container">

  <div class="anonymous-content">
    <div class="anonymous-article">
      <app-anonymous-article *ngFor="let anonymous-article of anony_list">
      </app-anonymous-article>

    </div>
    <div class="wrapper-comment">
      <div class="thread">
        <p>Người truonng muôn nghề</p>
      </div>
      <div class="anonymous-comment">
        <app-anonymous-comment *ngFor="let anonymous-comment of anony_list">
        </app-anonymous-comment>
      </div>
      <div class="comment-container">
        <div class="reply-to">
          <span>Đang trả lời bình luận</span>
          <span>thứ 2</span>
        </div>
        <div class="reply">
          <input class="textbox" type="text" placeholder="Nhập một bình luận..." wrap="true">
          <button>🪁Gửi</button>
        </div>
      </div>
    </div>
  </div>
</div>