$persik-button-color: #f8c3bd;
$persik-background: #fbe7e8;

$persik-title-font-family: "Noto Sans", sans-serif;
$persik-title-font-size: 40px;

.anonymous-box-container {
  display: flex;
  justify-content: space-between;
  background-color: $persik-background;
  max-width: 400px;
  height: 800px;
  overflow-y: auto;
  border-radius: 4px;
  flex-flow: row;

  .boxed {
    border: 1px solid $persik-button-color;
    padding: 5px;
    .title {
      font-family: $persik-title-font-family;
      font-size: $persik-title-font-size;
      display: flex;
      justify-content: left;
      padding-bottom: 15px;
    }
  }
}
