<div class="phone:px-1 phone:py-2 laptop:px-52 laptop:py-10 bg-gray-100">
  <div class="phone:mb-2 laptop:mb-5">
    <h1 class="font-sans text-xl">Tiêu đề</h1>
    <p class="text-xs mb-2">Tiêu đề rõ ràng là một điểm cộng để người đọc đến với bài của bạn</p>
    <input type="text"
      class="rounded-lg border border-transparent focus:outline-none focus:ring-2 focus:ring-red-300 font-sans phone:w-full lg:w-full p-4"
      placeholder="Ví dụ: Một con thỏ trắng nhảy qua người con cáo đỏ" [(ngModel)]="title" value={{title}}>
  </div>

  <h1 class="font-sans text-xl">Nội dung</h1>
  <p class="text-xs mb-2">Bao gồm tất cả những gì bạn muốn chia sẻ. Ranh giới giữa
    vi phạm quy tắc và một bài viết chất lượng rất mong manh, hãy cân nhắc nội dung
    mà bạn sắp đăng tải
  </p>
  <div class="bg-white overflow-visible mb-5">
    <ckeditor [(ngModel)]="model.editorData" [editor]="Editor" (change)="onChange($event)" (ready)="onReady($event)">
    </ckeditor>
  </div>
  <div class="extension mb-5">
    <div class="mb-5">
      <h1 class="font-sans text-xl">Thẻ</h1>
      <p class="text-xs mb-2">Chọn lên tới tối đa 5 thẻ mô tả bài viết của bạn
      </p>
      <input type="text"
        class="rounded-lg border border-transparent focus:outline-none focus:ring-2 focus:ring-red-300 font-sans phone:w-full lg:w-full p-4"
        placeholder="Ví dụ: Công việc, Học tập">
    </div>
    <label for="toggleB" class="flex items-center cursor-pointer">
      <div class="relative">
        <input type="checkbox" id="toggleB" class="sr-only" (click)="changeArticleState()">
        <div class="line block bg-pink-500 w-14 h-8 rounded-full transition"></div>
        <div class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition">
        </div>
      </div>
      <div class="ml-3 text-gray-700 font-medium" *ngIf="currentArticleState == 0">
        👼 Công khai
      </div>
      <div class="ml-3 text-gray-700 font-medium" *ngIf="currentArticleState == 1">
        😈 Ẩn danh
      </div>
    </label>
  </div>
  <button class="bg-pink-500 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded-full phone:block phone:w-full"
    (click)="post()">Đăng</button>
</div>