<div class="notification-item">
  <div class="avatar-container">
    <div class="image-container">
      <img src="{{avatarUrl}}" alt="">
    </div>
  </div>
  <div class="infomation-container">
    <div class="short-content">
      <span>{{notificationContent}}</span>
    </div>
    <div class="public-date">
      <span>{{publicDate}}</span>
    </div>
  </div>
  <div class="extension">
    <div class="option-container">
      <i style="background-image: url('../../../assets/images/three-dot.svg');
      width: 20px;
      height: 20px;
      display: inline-block;
      background-size: cover;"></i>
    </div>
  </div>
</div>
