@import '../../../assets/styles/persik.scss';

.notification-item {
  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  padding: 10px;
  &:hover {
    background-color: #f4f4f7;
  }
  .avatar-container {
    margin-right: 10px;
    .image-container {
      display: block;
      flex-shrink: 0;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      img {
        display: block;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: inherit;
      }
    }
  }
  .infomation-container {
    .short-content {
      span {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
      }
    }
    .public-date {
      span {
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        color: $persik-second-font-color;
      }
    }
  }
  .extension {
    .option-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      &:hover {
        border-radius: 50%;
        background-color: #e7e7e9;
        border: 1px solid #cfcfcf;
      }
    }
  }
}
