<div class="anonymous-item-wrapper">
  <div class="main-content">
    <div class="tag-container">
      <div class="tag">
        <span>TÌNH CẢM</span>
      </div>
    </div>
    <div class="title-container">

      <span class="title">{{title}}</span>

    </div>
    <div class="short-content">
      <p>{{content}}</p>
    </div>
    <div class="extension-function">
      <div class="extension-container">
        <div class="comment">
          <span class="comment-icon">📝</span>
          <span class="comment-amount">500</span>
        </div>
      </div>
    </div>
  </div>
</div>
